html{
    height: 100%;
}
body{
    background-color: #EEEEEE;
    height: inherit;
    font-family: "Microsoft YaHei",serif;
}
#admin-app{
    height: inherit;
}
.table-header th{
    font-size: 18px;
    color: rgba(10,10,10,0.7);
}
.control-btn{
    background: #AAA;
    border: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 5px 1px 5px;
}
.item-name{
    display: inline-block;
    padding: 2px 0 10px 2px
}
.item-font td{
    font-size: 16px;
}
