doctype html
html
    head
        title fineCook 控制台
        link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/stylesheets/adminStyle.css", rel="stylesheet")
        script(src="/jquery/jquery-3.3.1.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")

    body
        div(id="admin-app")
        script(src='/javascripts/adminPage.bundle.js')
