doctype html
html
  head
    title= title
    link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/blogStyle.css", rel="stylesheet")
    script(src="/jquery/jquery-3.3.1.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")

  body
    div(id="blog-app")
    script(src='/javascripts/blogPage.bundle.js')
